@page "/0101HelloWorld"

<PageTitle>Hello World</PageTitle>

<h1 class="display-3">Hello world</h1>

<div class="row">
<button class="btn btn-primary mx-2 my-2" @onclick="SayHello">Say Hello</button>
</div>
<div class="row">
    <pre class="bg-light p-3 border rounded">@message</pre>
</div>  
@code {
    private string message = "Mickey Mouse";

    private void SayHello()
    {
        message = "Hello world!!!";
    }
}
