@page "/min-max-sum-product"
   
<PageTitle>Minimum, Maximum, Sum and Product</PageTitle>
<h1 class="display-4">Minimum and Maximum</h1>

<div class="container border">

<table class="table-primary">
    <tr>
        <td>First argument:</td>
        <td><input style="text-align:right" @bind="x"/></td>
    </tr>
    <tr>
        <td>Second argument:</td>
        <td><input style="text-align:right" @bind="y"/></td>
    </tr>
    <tr>
        <td>Third argument:</td>
        <td><input style="text-align:right" @bind="z"/></td>
    </tr>
    <tr>
        <td>Fourth argument:</td>
        <td><input style="text-align:right" @bind="w"/></td>
    </tr>
    <tr>
        <td>Fifth argument:</td>
        <td><input style="text-align:right" @bind="t"/></td>
    </tr>
    <tr>
        <td style="text-align:center" colspan="2">
            <button class="mx-1" @onclick="Minimum">Min</button>  
            <button class="mx-1" @onclick="Maximum">Max</button> 
            <button class="mx-1" @onclick="Sum">Sum</button> 
            <button class="mx-1" @onclick="Product">Product</button> 
        </td>
    </tr>
    <tr>
        <td>Result:</td>
        <td><input style="text-align:right" @bind="result"/></td>
    </tr>
</table>
</div>

@code
{
    double x = -3;
    double y = 3.56;
    double z = 13;
    double w = 1.0001;
    double t = 42;

    double result;

    void Minimum()
    {
        result = x;
        if(y < result)
            result = y;
        if(z < result)
            result = z;
        if(t < result)
            result = t;
        if(w < result)
            result = w;
    }

    void Maximum()
    {

    }

    void Sum()
    {
        result = x + y + z + w + t;
    }

    void Product()
    {
        result = x * y * z * w * t;
    }
}